@import "../../../colors";

.user-page {
    display: inline-block;
    width: 75%;
    background: $mainBackground;
    padding: 40px;
    position: relative;
    vertical-align: top;


    dt {
        font-weight: 500;
    }

    h1, h2, h3 {
        margin: 10px 0;
    }

    .btn-add-friend{
        font-family: Arial;
        color: #fff;
        font-size: 16px;
        background: $contrastBackground;
        margin: 20px auto 0 auto;
        padding: 8px 16px;
        border: none;
        -webkit-border-radius: 5;
        -moz-border-radius: 5;
        border-radius: 5px;
        text-decoration: none;
        position: absolute;
        top: 40px;
        right: 40px;
        &:hover {
            background-color: darken($contrastBackground, 10%);
        }
    }

}
