@import "../../colors";

$li-padding: 20px;

.friends-list {
  box-sizing: border-box;
  margin: 20px;
  background-color: #92a8d1;

  h3 {
    font-size: 34px;
    display: block;
    text-align: center;
    padding-top: 20px;
  }

  a {
    color: $fontColor;
    text-decoration: none;

    .friend-name {
      font-size: 27px;
      margin: 0;
    }

    &.active {
      text-decoration: underline;
    }
  }

  ul span{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      width: 250px;
      height: 300px;
      margin: 20px;
      background-color: $pinkBackground;
      padding: $li-padding;
      text-align: center;
      box-sizing: border-box;
      position: relative;
    }

  }

  img {
    padding-bottom: 10px;
  }

  .btn-container {
    width: calc(100% - 40px);
    text-align: center;
    position: absolute;
    bottom: 20px;
  }

  button {
    font-family: Arial;
    color: #fff;
    font-size: 16px;
    background: $contrastBackground;
    margin: 20px auto 0 auto;
    padding: 8px 16px;
    border: none;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    text-decoration: none;
    &:hover {
      background-color: darken($contrastBackground, 10%);
    }
  }

  .fade-leave {
    transition: opacity 500ms ease-in;
  }

  .fade-leave {
    opacity: 1;

    &.fade-leave-active {
      opacity: 0;
    }
  }

  .notify-container {
    height: 70px;
    line-height: 70px;
  }


}
